@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}
header h1, 
header p,
header h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
}

footer h5, footer a, footer p {
    font-family: 'Anonymous Pro', monospace;
}